html, body {
  min-height: 100%;
  height: 100%;
}
body {
  background-color:#FDFDFD;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size:16px;
  width: 100%;
}
.app-top {
  padding-bottom: 2rem;
}