html, body {
  min-height: 100%;
  height: 100%;
}
body {
  background-color:#FDFDFD;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size:16px;
  width: 100%;
}
.app-top {
  padding-bottom: 2rem;
}
.ele-group {
  display: flex;
  align-items: center;

  & > * {
    flex: 0 0 auto;
    display: inline-block;
    margin-right: 1em;
  }

  & > *:last-child {
    margin-right: 0;
  }
}
button, *[role=button] {
  cursor: pointer;
}